.testomonial
{
	width:250px;
	height:300px;
	float:left;
}
.ptestomonial
{
	width: 120px;
	height: 90px;
	border-radius: 150px 150px 150px 150px;
	float: left;
}
.ptestomonial img
{
	width: 120px;
	height: 90px;
	border-radius: 150px 150px 150px 150px;
	float: left;
}