.info
{
	width: 300px;s
	height: 250px;
	border-radius: 20px 20px 20px 20px;
	float: left;
	background: #EBEBEB;
	
}
.ho
{
	width: 300px;
	height: 250px;
	border-radius: 20px 20px 20px 20px;
	float: left;
	background: #EBEBEB;
	
}
.dw
{
	width: 300px;
	height: 250px;
	border-radius: 20px 20px 20px 20px;
	float: left;
	background: #EBEBEB;
}