<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Menu en pleine page avec animations - script html CSS gratuit : Outils-web.com</title>
<meta name="description" content="Le menu vient recouvrir l'intégralité de la page avec différentes animations en fondu, zoom etc…" />
<meta name="Robots" content="all"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="css/normalize.css" />
<link rel="stylesheet" type="text/css" href="css/demo.css" />
<link rel="stylesheet" type="text/css" href="css/style6.css" /><!-- effet ici -->
<script src="js/modernizr.custom.js"></script>
</head>
<body>
		<div class="container">
			<section>
				<p><button id="trigger-overlay" type="button">Ouvrir le menu</button></p>
			</section>
		</div>
		<div class="overlay overlay-door"><!-- effet ici -->
			<button type="button" class="overlay-close">Close</button>
			<nav>
				<ul>
					<li><a href="#">Accueil</a></li>
					<li><a href="#">Scripts lightbox</a></li>
					<li><a href="#">Scripts jQuery</a></li>
					<li><a href="#">Menus</a></li>
					<li><a href="#">Diaporamas</a></li>
				</ul>
			</nav>
		</div>
		<script src="js/classie.js"></script>
		<script src="js/demo1.js"></script>
</body>
</html>